.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
header{
    background: tomato;
}
.container{
    display:flex;
}
.main{
    background: pink;
    width: 70%;
}
.side{
    background: orange;
    width: 30%;
}

.unko{
    display: flex;
}

.kounko{
    background: silver;
    width: 100%;
}

footer{
    background: plum;
}

/* mobile */
@media (max-width: 600px){
    .container{
        flex-direction: column;
    }
    .main,
    .side{
        width: 100%;
    }
}